ion-slides {
  height: 100vh !important;
  overflow: scroll;
}
ion-slide {
  display: block;
  padding: 0px;
}
.tabs {
  margin: 0px 30px;
}
.bg {
  --ion-background-color: #e5e5e5 !important;
}
.icon {
  float: right;
  margin-right: 20px;
}

.mb-30{
 margin-bottom: 30px;
}

.height{
  margin-bottom: 30px;
}
