<ion-header [translucent]="true">
  <ion-row class="header-bg">
    <ion-col>
      <div>
        <h5 class="title ml-10">
          Coin Awake
          <!-- <ion-icon class="icon" (click)="getNewsData({})" name="reload-outline"></ion-icon> -->
        </h5>
      </div>
    </ion-col>
  </ion-row>



  <app-custam-tabs [titles]='titles' [selectedTab]='selectedTitle' (newItemEvent)="filterby($event)">
  </app-custam-tabs>

</ion-header>

<ion-content class="bg">

  <!-- <ng-container *ngFor="let item of items">
      
    <app-new-card [card]='item' (click)="newsClick(item)"> </app-new-card>
  </ng-container> -->

  <ion-slides (ionSlideDidChange)="slideChanged($event)" #slides>

    <ion-slide class="ion-padding " *ngFor="let head of titles ">
      <!-- <ion-refresher slot="fixed" *ngIf="selectedTitle.key == head.key" (ionRefresh)="doRefresh($event)" pullMin="100"
        pullMax="200">
        <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
          refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>

      </ion-refresher>
      <ng-container *ngIf="selectedTitle.key == head.key">




        <ng-container class="height" *ngFor="let item of article ">

          <app-new-card [card]="item"> </app-new-card>
        </ng-container>
      

      </ng-container> -->
      <app-cardlist [list]="article" (refresh)="refresh($event)">

      </app-cardlist>
<div class="heigth"> 

</div>
    </ion-slide>

  </ion-slides>
  <!-- <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>