<ion-header [translucent]="true">
  <ion-row class="header-bg">
    <ion-col>
      <div>
        <h5 class="title ml-10">
          Coin Awake
        </h5>
      </div>
    </ion-col>
  </ion-row>



  <app-custam-tabs [titles]='titles' [selectedTab]='selectedTitle' (newItemEvent)="filterby($event)">
  </app-custam-tabs>

</ion-header>

<ion-content class="bg">



  <ion-slides (ionSlideDidChange)="slideChanged($event)" #slides>

    <ion-slide class="ion-padding " *ngFor="let head of titles ">

      <app-cardlist [list]="article" (refresh)="refresh($event)">

      </app-cardlist>
      
    </ion-slide>

  </ion-slides>

</ion-content>