<ion-tabs>

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="Home">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Market">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Market</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Alert">
      <ion-icon name="square"></ion-icon>
      <ion-label>Alert</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="Explore">
      <ion-icon name="square"></ion-icon>
      <ion-label>Explore</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="Profile">
      <ion-icon name="square"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
