<ion-tabs >

  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="Home">
      <img src="assets/Home.svg">
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Market">
      <img src="assets/markit.svg">
      <ion-label>Market</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Alert">
      <img src="assets/alert.png">
      <ion-label>Alert</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="Explore">
      <img src="assets/Home.svg">
      <ion-label>Explore</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="Profile">
      <img src="assets/Profile.svg">
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
